body {font-family: 'Open Sans', sans-serif;}
.bodybg {margin:0px;
background: -webkit-radial-gradient(circle, #6eaed9, #0e6fae, #0765a2); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #6eaed9, #0e6fae, #0765a2); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #6eaed9, #0e6fae, #0765a2); /* For Fx 3.6 to 15 */
    background: radial-gradient(circle, #6eaed9, #0e6fae, #0765a2); /* Standard syntax (must be last) */
	}

.form-logo img {display: block;margin: 0 auto;width:186px;}
.webmail-sec {text-align: center;color:#fff;font-size:18px;text-transform:uppercase;font-weight: 400; margin: 17px 0 0;position:relative}
.webmail-sec > img {display: block;margin: 0 auto;}
.webmail-sec p {margin:12px 0 0;}
.textfield-sec {margin:10px 0 0; overflow: hidden;}
.textfield-sec input {padding:9px 23px;background:#fff;margin-bottom:17px; width: 100%;font-size: 15px;font-weight:500;border:1px solid #d7d9dc;}
.textfield-sec input::-moz-placeholder{color:#a09f9f;opacity:1;}
.textfield-sec input::-webkit-input-placeholder{	color:#a09f9f;}
.signup-loginsec {overflow:hidden;}
.signuplink a{float:left;font-size: 13px;text-transform:uppercase;text-decoration:underline;color:#e5f0f8; font-weight: 500;margin:9px 0 0 0;}
.closebtn {position:absolute;right:9px;top:8px;}
.signuplink a:hover {color:#fff;}
.login-btn {box-shadow:0 1px 1px 0 #587f9a;float:right;margin:0 1px 1px}
.login-btn a{font-size: 13px;color:#fff;background:#57b031;padding:10px 25px;text-align:center;text-decoration:none; font-weight: 400;display:block}
.login-btn a:hover {background:#44a31b;}
.form-menu ul {text-align:center;}
.form-menu li {list-style:none;display:inline-block;margin-right:25px;border-right:2px solid #fff;margin-right: 46px;
    padding-right: 46px;line-height: 18px;}
.form-menu li a{font-size: 15px;color:#fff;font-weight:600;text-decoration:none;}
.form-menu li:last-child {border:none;margin:0;}
.form-menu li a:hover {color:rgb(229, 240, 248)}

/* .form-menu {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
} */
.relative-container {position:relative;min-height:calc(100vh - 75px);}
.form-container {background:#5fa2d0;border:3px solid #82b7dc;width:300px;padding:38px 59px 71px;border-radius:4px;box-shadow: 1px 1px 2px 0 rgb(68, 68, 68);left: 50%;position: absolute;top: 50%;transform: translate(-50%, -50%);}


#hash {
    color: #a0a0a0;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    display: inline-block;
    position: fixed;
}

.error-msg label {color:#fff;font-size:13px;text-align:center;display: block;text-transform: uppercase;}
.error-msg {background:#ff0000;padding:3px;margin:5px 0 0}
.green-msg label {color:#fff;font-size:13px;text-align:center;display: block; text-transform: uppercase;}
.green-msg {background:rgb(87, 176, 49);padding:3px;margin:5px 0 0}

.logo-spac {padding: 40px 60px 0;}
.error-page .form-container {padding:0px;width: 425px;}
.form-spac2 {
    padding: 0 60px 70px;
}

/*** Error *******/
.no-msg {
    height: 22px;
    margin-top: 5px;
}

