<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<link rel="shortcut icon" href="/images/favicon.png"/>
<link rel="stylesheet" type="text/css" href="/print.css" />
</head>
<body>

<div id="header"></div>

<div id="contact-details" class="boxcontent">
	<div id="contactphoto"><roundcube:object name="contactphoto" id="contactpic" placeholder="/images/contactpic.png" placeholderGroup="/images/contactgroup.png" /></div>
	<roundcube:object name="contacthead" id="contacthead" />
	<br style="clear:both" />
	<roundcube:object name="contactdetails" />
</div>

</body>
</html>
